@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

@theme {
    --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
    --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

/*Make media queries to step down the width of the tiles */
/*also separate tile caption from image, image gets round border, text gets no background no border*/

body, html, #root {
    overflow: visible;
    background-color: #040203;
    color: #fff;
}

#timelineview {
    will-change: transform;
}

.dot-container {
    @apply border-[0px] z-20 pointer-events-none;
    background-color: transparent;
}

@keyframes bgZoom {
    0% {
        background-size: 100%;
    }

    100% {
        background-size: 120%;
    }
}

/* Landing Page animation */
@keyframes slideUp {
    0% {
        background-color: #282b30;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 0px;
    }

    
    33% {
       
        color: rgba(0,0,0,0);
        border-radius: 3px;
    }
   
    75% {
        opacity:1;
    }
    95% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        width: 100%;
        height: 10%;
        color: rgba(0,0,0,0);
        border-radius: 3px;
        background-color: #fcfae6;
    }
}

@layer utilities {
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

        .no-scrollbar::-webkit-scrollbar {
            display: none; /* Chrome, Safari, and Opera */
        }
}

@layer utilities {
    .animate-slide-up {
        animation: slideUp 900ms ease-in-out forwards;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideDownSmall {
    0% {
        transform: translateY(-7%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes navbarMobileExpand{
    0% {
        width: 0;
    }
    100% {
        width: 55%;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(7%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-2%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-slide-right {
    animation: slideRight 700ms ease-in-out forwards;
}

.animate-slide-down {
    animation: slideDownSmall 700ms ease-in-out forwards;
}

.animate-navbar-mobile-expand {
    animation: navbarMobileExpand 220ms cubic-bezier(.1,.85,0,1) both;
}

.font-bask {
    font-family: 'Libre Baskerville';
}

.mask-mobile {
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 2%, black 98%, transparent 100%);
    mask-image: linear-gradient(to right, transparent 0%, black 2%, black 98%, transparent 100%);
}

.mask-desktop {
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 9%, black 91%, transparent 100%);
    mask-image: linear-gradient(to right, transparent 0%, black 9%, black 91%, transparent 100%);
}

.font-expletus {
    font-family: "Expletus Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


#landing_page {
    @apply bg-[#282b30];
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.4);
}

#progress_bar_2 {
    width: calc(100% - 64px);
}

@keyframes colorChange {
    0% {
        color: #fff; 
    }

    100% {
        color: #111;
    }
}



#spaceship_quote {
    background-image: linear-gradient(to right, #ea5104, #a11b3e); /* Gradient colors */
    background-clip: text;
    background-size: 400% 100%;
    color: transparent;
    animation: waveAnimation 8s ease-in-out infinite alternate;
    box-shadow: 0 5px 10px rgba(20,10,20,.05), 0 15px 40px rgba(10,20,10,.2);
}


@keyframes loadIn {
    0% {

    }
    100% {
    
    }
}



@keyframes waveAnimation {
    0% {
        background-position: 0% 50%;
        
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
        
        
    }
}

#home_content_container {
    min-width: 768px;
    max-width: 1200px;
    background-color: #dfffff;
    box-shadow: 0px 0px 16px 1px #555;
    padding: 4vh 4vw;
}

.profile_blurb {
    @apply flex border-solid border-b-[2px] border-[#000] w-fit pr-3 hover:border-[#fff] transition-all duration-[500ms];
}

.nav_link {
    @apply opacity-0 text-[24px] md:text-[20px] font-bold hover:bg-[#000000]/20 w-full md:w-auto md:rounded-xl pl-6 pr-12 md:px-6 transition-all py-[16px] md:py-[8px] overflow-hidden hover:-translate-y-[2px];
    display: inline-block;
    position: relative;
    /*font-family: 'GT Walsheim Pro', sans-serif;*/
    animation: slideLeft 1.1s cubic-bezier(0.2, 0, 0, 1) forwards;
    /*cursor:none;*/
}
/* For larger screens (min-width: 768px) */


.text-style {
    font-size: 150px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    -webkit-text-stroke: 10px black;
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.8);
}
/*
    alternative solutions:
    document.querySelectorAll('.nav_link').forEach((el, i) => {
  el.style.animationDelay = `${i * 0.2}s`;
});
    or
    // Example in React
{items.map((item, index) => (
  <div
    key={index}
    className="nav_link"
    style={{ '--i': index }}
  >
    {item}
  </div>
))}
    and 
    .nav_link {
  animation-delay: calc(var(--i) * 0.2s);
}
*/


.home_links { /* style inspired from button 7 https://getcssscan.com/css-buttons-examples */
    border: 1px solid transparent;
    
    box-shadow: rgba(190, 190, 190, .7) 0 1px 0 0 inset;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-weight: 400;
    line-height: 1.15385;
    outline: none;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.home_links:hover,
.home_links:focus {
  background-color: #07c;
}

.home_links:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.home_links:active {
  background-color: #0064bd;
  box-shadow: none;
}

.nav_link:hover {
    transform: translateY(-6%);
}

.vignette {
    box-shadow: 0 0 32px -8px rgba(255,255,255,.1) inset;
}

#root {
    width: 100%;
    height: 100%;
    text-align: center;
}

#formerly_root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 33s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#nameplate {
    font-size: 80px;
}

#titleplate {
    font-size: 40px;
}

a {
    transition: color 150ms ease-in-out;
    transition: background 150ms ease-in-out;
}

#profile_pic_column {
    background-color: rgb(180,180,180);
    box-shadow: 0px 0px 16px -4px rgba(0,0,0,.3);
    border-radius: 4px;
    display: flex;   
    align-items:center;

}

#skills_container {
    background-color: rgb(180,180,180);
    box-shadow: 0px 0px 16px -4px rgba(0,0,0,.3);
    padding: 1vh 1vw; /*If the padding property has two values: padding: <arg1> <arg2>; arg1 for top bottom, arg2 for left right */
    border-radius: 4px;
}

#profilepic {
    box-shadow: 0px 0px 16px -4px rgba(0,0,0,.3);
    transition: all 150ms ease-in-out;
}

#profilepic:hover {
    box-shadow: none;
}

#profile_bio {
    background-color: rgb(210,210,205);
    border: 1px rgba(75,75,75, .7) solid;
    box-shadow: 0px 0px 16px -4px rgba(0,0,0,.3);
    padding: 1vh 1vw; /*If the padding property has two values: padding: <arg1> <arg2>; arg1 for top bottom, arg2 for left right */
    border-radius: 4px;
}

.scramble-container {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.scramble-text {
    font-weight: 100;
    font-size: 28px;
    color: #FAFAFA;
}

.scramble-dud {
    color: #757575;
}

@media (prefers-color-scheme: dark) {
    #homeview {
        @apply bg-[rgba(120,120,120,1)];
    }
    #home_content_container {
        background-color: rgb(150,150,150);
    }

}

