.dot-container {
    @apply flex;
    position: relative;
    
}

.dot { /* Need transition property in jsx file too ! */
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    opacity: 0;
    transition: transform 0.8s ease-in-out;
}

.active-dot {
    width: 20px;
    height: 20px;
    background-color: seagreen;
    opacity: 1;
}

.medium-dot {
    opacity: .4;
}